.content{
  width: 1000px;
  height: 500px;
  margin: 20px auto;
  border: 1px solid black;
  .title{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
    .item1{
      color: #fff;
      width: 200px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fff;
      border-radius: 30px;
      cursor: pointer;
    }
    .item2{
      color: black;
      width: 200px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      border-radius: 30px;
      cursor: pointer;
    }
    .checked{
      background: #1cabe2;
    }
  }
  .form{
    display: flex;
    justify-content: space-around;
    line-height: 50px;
    .upload{
      display: flex;
      flex-direction: column;
      input{
        opacity: 0;
      }
      label{
        height: 39px;
        width: 121px;
        border: 1px solid black;
        border-radius: 6px;
        margin-top: 0px;
        text-align: center;
        line-height: 37px;
        cursor: pointer;
      }
      img{
        border: 1px solid black;
        margin-top: 30px;
      }
    }
  }
  .done{
    height: 50px;
    width: 122px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 7px;
    text-align: center;
    line-height: 46px;
    cursor: pointer;
  }
}