.navWraper{
  width: 100%;
  background: #1cabe2;
  margin: auto;
  overflow: hidden;
  height: 160px;
  box-shadow: 0 10px 8px 0 rgba(0,0,0,.1);
  .logo {
    box-sizing: border-box;
    padding: 20px;
    height: 100px;
    .logoImg {
      height: 60px;
    }
  }
  .navTop{
    background: #fff;
    height: 60px;
    width: 100%;
    div{
      display: inline-block;
      margin-left: 100px;
      a{
        color: #000;
        font-size: 18px;
        text-decoration: none;
        line-height: 50px;
        display: block;
        padding: 0 10px;
        cursor: pointer;
        &:hover{
          // border-bottom: 5px solid #1cabe2;
        }
      }
    }
    div:nth-child(1) {
      border-bottom: 5px solid #1cabe2;
    }
  }
  .navBto{
    background: #eee;
    font-size: 18px;
    color: #666;
    text-indent: 40px;
    line-height: 50px;
  }
}