.wraper{
    width: 100%;
    .top{
        text-align: center;
        font-size: 16px; 
    }
    .receiver{
        color: #666;
        background: #f6f6f6;
        padding: 0 10px;
        font-size: 0;
        label{
            display: inline-block;
            font-size: 16px;
            width: 65px;
            flex-shrink: 0;
        }
        input{
            display: inline-block;
            font-size: 16px;
            border: 0;
            width: calc(100% - 65px);
            height: 40px;
            outline: none;
            background: #f6f6f6;
        }
    }

}